  .toptitle{
    color: white;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  }
  body{
    background: url('../img/background1.jpg') center no-repeat;
    background-size: cover;
  }
  .console{
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    padding:4px;margin-top:50px;border: 0px;max-height: 390px;height: 300px;overflow:auto;border-radius: 5px;background: black;color:white;
  }

#editor {
    margin: 0;
    width: 100%;
    height: 27em;
    margin-top: 5px;
    font-size: 14px;
}

/*Compile Button CSS*/

.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-sky {
	color: #fff;
	background-color: #0bacd3;
	border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus{
	color: #fff;
	background-color: #29b6d8;
	border-bottom:2px solid #2192ad;
	outline: none;
}

.btn-sky:active, .btn-sky.active {
	color: #fff;
	background-color: #0a97b9;
	border-top:2px solid #087994;
	outline-offset: none;
	margin-top: 2px;
}

.btn-sky.active:focus{
	color: #fff;
	background-color: #df6a78;
	border-bottom:2px solid #b25560;
	outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

/*Compile Button CSS End*/

.col-md-12.col-sm-12.codeSide {
    background: #272822;
    height: 35em;
    padding-left: 21px;
    border-radius: 10px;
    padding-top: 7px;
}

.ace_gutter {
    min-width: 50px;
}

.ace_scroller {
	margin-left: 5px;
}

input#compile {
    margin-top: 5px;
    float: right;
}

/*Language Select CSS */
button.btn.dropdown-toggle.btn-default {
    width: 42%;
    margin: 4px 2px 6px 4px;
}